
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.login-container{
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.panel{
    border: none;
    color: #ffffff;
    background: -webkit-linear-gradient(to right,#859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


